body {
  padding: 25px 150px 25px 150px;
  background-color: #F1FBFD;
}

h1, h2 {
  font-family: "Times New Roman", Serif;
  text-align: center;
}

 h4, p {
  font-family: "Times New Roman", Serif;
}

.intro p {
  text-align: center;
}

.details ul {
  text-indent: 20px;
  font-family: "Times New Roman", Serif;
  list-style-type: square;
}
