body {
  padding: 25px 150px 25px 150px;
  background-color: #85C1E9;
}

h1, h2 {
  font-family: "Times New Roman", Serif;
  text-align: center;
}

 h4, p {
  font-family: "Times New Roman", Serif;
}

.details ul {
  font-family: "Times New Roman", Serif;
}
