body {
  padding: 25px 150px 25px 150px;
  background-color: #F1FBFD;
}

h1, h2, h4 {
  font-family: "Times New Roman", Serif;
}

 p {
  font-family: "Times New Roman", Serif;
}

.info {
  font-family: "Times New Roman", Serif;
  text-align: center;
}

.intro {
  text-indent: 20px;
  font-family: "Times New Roman", Serif;
  text-align: center;
}

.details {
  font-family: "Times New Roman", Serif;
  list-style-type: square;
}
